@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background: #010409;
}

@media (min-width: 768px) {
  body {
    background: #0d1117;
  }
}

body p {
  color: white;
}

body .search-tip {
  border: 2px solid #0d419d;
  background: rgba(56, 139, 253, 0.1);
  color: #c9d1d9;
  line-height: 1.5;
  padding: 24px;
  border-radius: 6px;
  margin: 2rem;
}

@media (min-width: 768px) {
  body .search-tip {
    width: 320px;
    margin: 0 auto;
    margin-top: 3rem;
  }
}

body .search-tip img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}

body .search-tip p {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
}

body .search-bar {
  padding: 2rem;
}

@media (min-width: 768px) {
  body .search-bar {
    width: 420px;
    margin: 0 auto;
    margin-top: 3rem;
  }
}

body .search-bar form {
  border: 3px solid #161b22;
  border-radius: 6px;
  background: #0d1117;
}

body .search-bar form input {
  width: 230px;
  padding: 1.5rem;
  background: #0d1117;
  color: #f0f6fc;
  border: none;
}

@media (min-width: 768px) {
  body .search-bar form input {
    width: 270px;
  }
}

body .search-bar form input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
}

body .search-bar form input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
}

body .search-bar form input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
}

body .search-bar form input::placeholder {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
}

body .search-bar form button {
  padding: 10px 16px;
  border: 2px solid #161b22;
  border-radius: 6px;
  background: transparent;
  color: gray;
  cursor: pointer;
}

body .header {
  width: 100%;
  background: #161b22;
  height: 65px;
  padding: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 468px) {
  body .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10rem;
  }
}

body .header .left-side-header {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

body .header .right-side-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  body .header .menu {
    display: none;
  }
}

@media (max-width: 468px) {
  body .header .logo {
    display: none;
  }
}

@media (min-width: 768px) {
  body .header .logo-mobile {
    display: none;
  }
}

body .header .header-search {
  width: 250px;
  border: 2px solid #161b22;
  background: #0d1117;
  color: #f0f6fc;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (width: 768px) {
  body .header .header-search {
    width: 230px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .header .header-search input {
  width: 240px;
  padding: 5px 12px;
  background: #0d1117;
  color: #f0f6fc;
  border: none;
  border-radius: 6px;
}

@media (width: 768px) {
  body .header .header-search input {
    width: 220px;
  }
}

body .header .header-search input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
}

body .header .header-search input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
}

body .header .header-search input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
}

body .header .header-search input::placeholder {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
}

body .header .header-search span {
  border: 1px solid gray;
  padding: 0.1rem 0.5rem;
  color: gray;
  border-radius: 3px;
  font-size: 12px;
  font-family: 'Nunito Sans', sans-serif;
}

@media (max-width: 468px) {
  body .header .header-search {
    display: none;
  }
}

@media (min-width: 768px) {
  body .header .header-search {
    width: 300px;
  }
}

body .header .header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

body .header .header-items p {
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}

@media (max-width: 468px) {
  body .header .header-items {
    display: none;
  }
}

@media (width: 768px) {
  body .header .header-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    width: 100%;
  }
}

body .header .add-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 468px) {
  body .header .add-icon {
    display: none;
  }
}

body .header .header-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 468px) {
  body .header .header-profile {
    display: none;
  }
}

body .header .header-profile .img-header img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

body .header .notification {
  position: relative;
}

body .header .notification .notification-unread {
  position: absolute;
  background: #006eed;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: -2px;
  right: 3px;
}

body .container {
  margin: 0 1.4rem;
}

body .container .profile-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

body .container .profile-main .profile-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

body .container .profile-main .profile-username h1 {
  color: #fff;
  padding-bottom: 0.3rem;
  font-family: 'Nunito Sans', sans-serif;
}

body .container .profile-main .profile-username h2 {
  color: #8b949e;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  font-family: 'Nunito Sans', sans-serif;
}

@media (max-width: 468px) {
  body .container .status {
    display: none;
  }
}

body .container .bio {
  margin-top: 0.8rem;
}

body .container .bio p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: normal;
}

body .container .bio button {
  background: #21262d;
  border: 1px solid;
  border-color: #30363d;
  margin-top: 1rem;
  padding: 5px 16px;
  color: #fff;
  width: 100%;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: 'Nunito Sans', sans-serif;
  cursor: pointer;
}

body .container .bio-contact {
  margin-top: 1.5rem;
}

body .container .bio-contact #bio-email,
body .container .bio-contact #bio-url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}

body .container .follower-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

body .container .follower-count .followers,
body .container .follower-count .following,
body .container .follower-count .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
}

body .container .follower-count span {
  color: #fff;
  padding-right: 0.2rem;
}

body .container .follower-count p {
  color: #8b949e;
}

body .container .followers::after,
body .container .following::after {
  content: '\00B7';
  color: white;
  padding-left: 2px;
}

body .nav {
  background: #161b22;
  margin-top: 3rem;
  padding: 1.2rem;
  padding-bottom: 0;
  overflow-x: auto;
}

body .nav .nav-items {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .nav .nav-items p {
  font-size: 14px;
  color: #8b949e;
}

body .nav .nav-items span {
  padding: 2px 6px;
  border-radius: 2em;
  background: #8b949e33;
  color: #8b949e;
  margin-left: 2px;
  font-size: 12px;
}

body .nav #repo {
  border-bottom: 3px solid #f9826c;
  padding-bottom: 10px;
  width: 140px;
  text-align: center;
}

body .nav #repo-text {
  color: #c9d1d9 !important;
}

@media (max-width: 468px) {
  body .nav i {
    display: none;
  }
}

body .search-repo {
  margin-top: 2rem;
  border-bottom: 1px solid #30363d;
  padding-bottom: 2rem;
}

body .search-repo input {
  width: 100%;
  background: #161b22;
  border: 2px solid #21262d;
  padding: 5px 12px;
  line-height: 1.25;
  border-radius: 6px;
  font-size: 14px;
  color: #0d1117;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

body .search-repo .search-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.2rem;
  margin-top: 0.5rem;
}

body .search-repo .search-filter .filter {
  background: #21262d;
  border: 1px solid #21262d;
  border-radius: 6px;
  padding: 0 8px;
  line-height: 1.25;
}

body .search-repo .search-filter .filter p {
  color: #c9d1d9;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
  padding-left: 8px;
}

body .search-repo .search-filter .filter p::after {
  content: url(images/arrow-down.svg);
  display: inline-block;
  vertical-align: middle;
  padding-top: 5px;
}

body .repos {
  margin-top: 1rem;
  padding: 3rem 0;
  border-bottom: 1px solid #30363d;
  position: relative;
}

body .repos .repo-details .repo-name h2 {
  color: #58a6ff;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

body .repos .repo-details .repo-stack-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
  margin-top: 1.5rem;
}

body .repos .repo-details .repo-stack-time p {
  color: #8b949e;
}

body .repos .repo-details .repo-stack-time p::before {
  content: '';
  background: #563d71;
  width: 10px;
  height: 10px;
}

body .repos .repo-details .repo-stack-time #language-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: -2.7rem;
}

body .star-repo {
  position: absolute;
  right: 0;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
  background: #21262d;
  color: #c9d1d9;
  padding: 5px 10px;
  border-radius: 6px;
}

body .star-repo p {
  color: #8b949e;
}

@media (width: 768px) {
  body .left-side-bio {
    width: 250px !important;
    position: relative !important;
  }
  body .left-side-bio .profile-main {
    width: 100px !important;
  }
  body .left-side-bio .profile-main .profile-photo img {
    width: 100px !important;
    height: 100px !important;
  }
  body .left-side-bio .profile-main .profile-username {
    margin-left: -10rem !important;
  }
  body .left-side-bio .status {
    position: absolute !important;
    bottom: 220px !important;
    right: 90px !important;
  }
  body .left-side-bio .status img {
    border-radius: 50%;
    border: 1px solid #8b949e;
    padding: 0.2rem;
    background: #0d1117;
  }
  body .left-side-bio .bio,
  body .left-side-bio .bio-contact,
  body .left-side-bio .follower-count {
    margin-left: 0 !important;
  }
  body .left-side-bio .follower-count {
    width: 150px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  body .right-side-repo {
    position: absolute !important;
    right: 0 !important;
    top: 80px !important;
    width: 580px !important;
  }
  body .right-side-repo .search-repo {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important;
    gap: 0.8rem !important;
  }
  body .right-side-repo .search-repo input {
    width: 510px !important;
  }
  body .right-side-list {
    width: 550px !important;
    position: absolute !important;
    top: -150px !important;
    right: 0 !important;
  }
}

@media (width: 1024px) {
  body .left-side-bio {
    width: 300px !important;
    position: relative !important;
    margin-left: 2rem;
  }
  body .left-side-bio .profile-main {
    width: 120px !important;
  }
  body .left-side-bio .profile-main .profile-photo img {
    width: 250px !important;
    height: 250px !important;
  }
  body .left-side-bio .profile-main .profile-username {
    margin-left: -10rem !important;
  }
  body .left-side-bio .status {
    position: absolute !important;
    bottom: 260px !important;
    right: 95px !important;
  }
  body .left-side-bio .status img {
    border-radius: 50%;
    border: 1px solid #8b949e;
    padding: 0.2rem;
    background: #0d1117;
  }
  body .left-side-bio .bio,
  body .left-side-bio .bio-contact,
  body .left-side-bio .follower-count {
    margin-left: 0 !important;
  }
  body .left-side-bio .follower-count {
    width: 200px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  body .right-side-repo {
    position: absolute !important;
    right: 0 !important;
    width: 720px !important;
  }
  body .right-side-repo .search-repo {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important;
    gap: 0.8rem !important;
  }
  body .right-side-repo .search-repo input {
    width: 390px !important;
  }
  body .right-side-repo .search-repo .search-filter {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important;
  }
  body .right-side-list {
    width: 690px !important;
    position: absolute !important;
    right: 0 !important;
  }
}

@media (min-width: 768px) {
  body .left-side-bio {
    width: 500px;
    position: relative;
  }
  body .left-side-bio .profile-main {
    width: 400px;
    margin-left: 4rem;
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .left-side-bio .profile-main .profile-photo img {
    width: 280px;
    height: 280px;
  }
  body .left-side-bio .profile-main .profile-username {
    margin-left: -22rem;
  }
  body .left-side-bio .status {
    position: absolute;
    bottom: 240px;
    right: 142px;
  }
  body .left-side-bio .status img {
    border-radius: 50%;
    border: 1px solid #8b949e;
    padding: 0.5rem;
    background: #0d1117;
  }
  body .left-side-bio .bio,
  body .left-side-bio .bio-contact,
  body .left-side-bio .follower-count {
    margin-left: 6.5rem;
  }
  body .right-side-repo {
    position: absolute;
    right: 30px;
    top: 80px;
  }
  body .right-side-repo .nav {
    background: transparent;
  }
  body .right-side-repo .nav .nav-items {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 1rem;
  }
  body .right-side-repo .nav #overview,
  body .right-side-repo .nav #repo,
  body .right-side-repo .nav #projects,
  body .right-side-repo .nav #packages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5rem;
  }
  body .right-side-repo .search-repo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 1.9rem;
  }
  body .right-side-repo .search-repo input {
    width: 598px;
  }
  body .right-side-repo .search-repo .search-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
  }
  body .repos {
    border-bottom: none;
    padding-top: 4rem;
  }
  body .right-side-list {
    width: 900px;
    position: absolute;
    top: -360px;
    right: 30px;
    border-bottom: 1px solid #30363d;
    padding: 2rem 0;
  }
  body .right-side-list .star-repo {
    top: 28px;
  }
}
/*# sourceMappingURL=main.css.map */