@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background: #010409;

  @media (min-width: 768px) {
    background: #0d1117;
  }

  p {
    color: white;
  }

  .search-tip {
    border: 2px solid #0d419d;
    background: rgba(56, 139, 253, 0.1);
    color: #c9d1d9;
    line-height: 1.5;
    padding: 24px;
    border-radius: 6px;
    margin: 2rem;

    @media (min-width: 768px) {
      width: 320px;
      margin: 0 auto;
      margin-top: 3rem;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      padding-right: 5px;
    }

    p {
      font-size: 14px;
      font-weight: 500;
      font-family: 'Nunito Sans', sans-serif;
    }
  }

  .search-bar {
    padding: 2rem;

    @media (min-width: 768px) {
      width: 420px;
      margin: 0 auto;
      margin-top: 3rem;
    }

    form {
      border: 3px solid #161b22;
      border-radius: 6px;
      background: #0d1117;

      input {
        width: 230px;
        padding: 1.5rem;
        background: #0d1117;
        color: #f0f6fc;
        border: none;

        @media (min-width: 768px) {
          width: 270px;
        }

        &::placeholder {
          font-size: 16px;
          font-weight: 500;
          font-family: 'Nunito Sans', sans-serif;
        }
      }

      button {
        padding: 10px 16px;
        border: 2px solid #161b22;
        border-radius: 6px;
        background: transparent;
        color: gray;
        cursor: pointer;
      }
    }
  }

  .header {
    width: 100%;
    background: #161b22;
    height: 65px;
    padding: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 468px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10rem;
    }

    .left-side-header {
      width: 800px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }

    .right-side-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }

    .menu {
      @media (min-width: 768px) {
        display: none;
      }
    }

    .logo {
      @media (max-width: 468px) {
        display: none;
      }
    }

    .logo-mobile {
      @media (min-width: 768px) {
        display: none;
      }
    }

    .header-search {
      width: 250px;
      border: 2px solid #161b22;
      background: #0d1117;
      color: #f0f6fc;
      border-radius: 6px;
      display: flex;
      align-items: center;

      @media (width: 768px) {
        width: 230px !important;
        display: flex;
        align-items: center;
      }

      input {
        width: 240px;
        padding: 5px 12px;
        background: #0d1117;
        color: #f0f6fc;
        border: none;
        border-radius: 6px;

        @media (width: 768px) {
          width: 220px;
        }

        &::placeholder {
          font-size: 14px;
          font-weight: 500;
          font-family: 'Nunito Sans', sans-serif;
        }
      }

      span {
        border: 1px solid gray;
        padding: 0.1rem 0.5rem;
        color: gray;
        border-radius: 3px;
        font-size: 12px;
        font-family: 'Nunito Sans', sans-serif;

        @media (width: 768px) {
        }
      }

      @media (max-width: 468px) {
        display: none;
      }

      @media (min-width: 768px) {
        width: 300px;
      }
    }

    .header-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;

      p {
        color: #fff;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 14px;
      }

      @media (max-width: 468px) {
        display: none;
      }

      @media (width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: 100%;
      }
    }

    .add-icon {
      display: flex;
      align-items: center;

      @media (max-width: 468px) {
        display: none;
      }
    }

    .header-profile {
      display: flex;

      @media (max-width: 468px) {
        display: none;
      }

      .img-header {
        img {
          object-fit: cover;
          border-radius: 50%;
          width: 20px;
          height: 20px;
        }
      }
    }

    .notification {
      position: relative;

      .notification-unread {
        position: absolute;
        background: #006eed;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        top: -2px;
        right: 3px;
      }
    }
  }

  .container {
    margin: 0 1.4rem;

    .profile-main {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;

      .profile-photo {
        img {
          object-fit: cover;
          border-radius: 50%;
          width: 55px;
          height: 55px;
        }
      }

      .profile-username {
        h1 {
          color: #fff;
          padding-bottom: 0.3rem;
          font-family: 'Nunito Sans', sans-serif;
        }

        h2 {
          color: #8b949e;
          font-size: 20px;
          line-height: 24px;
          font-weight: 300;
          font-family: 'Nunito Sans', sans-serif;
        }
      }
    }

    .status {
      @media (max-width: 468px) {
        display: none;
      }
    }

    .bio {
      margin-top: 0.8rem;

      p {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: normal;
      }

      button {
        background: #21262d;
        border: 1px solid;
        border-color: #30363d;
        margin-top: 1rem;
        padding: 5px 16px;
        color: #fff;
        width: 100%;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        font-family: 'Nunito Sans', sans-serif;
        cursor: pointer;
      }
    }

    .bio-contact {
      margin-top: 1.5rem;

      #bio-email,
      #bio-url {
        display: flex;
        gap: 0.5rem;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 14px;
      }
    }

    .follower-count {
      display: flex;
      align-items: center;
      margin-top: 2rem;

      .followers,
      .following,
      .stars {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 500;
        font-family: 'Nunito Sans', sans-serif;
      }

      span {
        color: #fff;
        padding-right: 0.2rem;
      }

      p {
        color: #8b949e;
      }
    }

    .followers::after,
    .following::after {
      content: '\00B7';
      color: white;
      padding-left: 2px;
    }
  }

  .nav {
    background: #161b22;
    margin-top: 3rem;
    padding: 1.2rem;
    padding-bottom: 0;
    overflow-x: auto;

    .nav-items {
      width: 380px;
      display: flex;
      margin-left: 0.5rem;
      flex-direction: row;
      justify-content: space-between;

      p {
        font-size: 14px;
        color: #8b949e;
      }

      span {
        padding: 2px 6px;
        border-radius: 2em;
        background: #8b949e33;
        color: #8b949e;
        margin-left: 2px;
        font-size: 12px;
      }
    }

    #repo {
      border-bottom: 3px solid #f9826c;
      padding-bottom: 10px;
      width: 140px;
      text-align: center;
    }

    #repo-text {
      color: #c9d1d9 !important;
    }

    @media (max-width: 468px) {
      i {
        display: none;
      }
    }
  }

  .search-repo {
    margin-top: 2rem;
    border-bottom: 1px solid #30363d;
    padding-bottom: 2rem;

    input {
      width: 100%;
      background: #161b22;
      border: 2px solid rgb(33, 38, 45);
      padding: 5px 12px;
      line-height: 1.25;
      border-radius: 6px;
      font-size: 14px;
      color: #0d1117;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 300;
    }

    .search-filter {
      display: flex;
      flex-direction: row;
      gap: 0.2rem;
      margin-top: 0.5rem;

      .filter {
        background: #21262d;
        border: 1px solid #21262d;
        border-radius: 6px;
        padding: 0 8px;
        line-height: 1.25;

        p {
          color: #c9d1d9;
          font-size: 14px;
          font-weight: 500;
          font-family: 'Nunito Sans', sans-serif;
          padding-left: 8px;

          &::after {
            content: url(images/arrow-down.svg);
            display: inline-block;
            vertical-align: middle;
            padding-top: 5px;
          }
        }
      }
    }
  }

  .repos {
    margin-top: 1rem;
    padding: 3rem 0;
    border-bottom: 1px solid #30363d;
    position: relative;

    .repo-details {
      .repo-name {
        h2 {
          color: #58a6ff;
          font-size: 20px;
          line-height: 20px;
          font-family: 'Nunito Sans', sans-serif;
        }
      }

      .repo-stack-time {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        margin-top: 1.5rem;

        p {
          color: #8b949e;

          &::before {
            content: '';
            background: #563d71;
            width: 10px;
            height: 10px;
          }
        }

        #language-color {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-right: -2.7rem;
        }
      }
    }
  }

  .star-repo {
    position: absolute;
    right: 0;
    top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    background: #21262d;
    color: #c9d1d9;
    padding: 5px 10px;
    border-radius: 6px;

    p {
      color: #8b949e;
    }
  }

  @media (width: 768px) {
    .left-side-bio {
      width: 250px !important;
      position: relative !important;

      .profile-main {
        width: 100px !important;

        .profile-photo {
          img {
            width: 100px !important;
            height: 100px !important;
          }
        }

        .profile-username {
          margin-left: -10rem !important;
        }
      }

      .status {
        position: absolute !important;
        bottom: 220px !important;
        right: 90px !important;

        img {
          border-radius: 50%;
          border: 1px solid #8b949e;
          padding: 0.2rem;
          background: #0d1117;
        }
      }

      .bio,
      .bio-contact,
      .follower-count {
        margin-left: 0 !important;
      }

      .follower-count {
        width: 150px !important;
        display: flex !important;
        flex-wrap: wrap !important;
      }
    }

    .right-side-repo {
      position: absolute !important;
      right: 0 !important;
      top: 80px !important;
      width: 580px !important;

      .search-repo {
        display: flex !important;
        flex-direction: column !important;
        align-items: baseline !important;
        gap: 0.8rem !important;

        input {
          width: 510px !important;
        }
      }
    }

    .right-side-list {
      width: 550px !important;
      position: absolute !important;
      top: -150px !important;
      right: 0 !important;
    }
  }

  @media (width: 1024px) {
    .left-side-bio {
      width: 300px !important;
      position: relative !important;
      margin-left: 2rem;

      .profile-main {
        width: 120px !important;

        .profile-photo {
          img {
            width: 250px !important;
            height: 250px !important;
          }
        }

        .profile-username {
          margin-left: -10rem !important;
        }
      }

      .status {
        position: absolute !important;
        bottom: 260px !important;
        right: 95px !important;

        img {
          border-radius: 50%;
          border: 1px solid #8b949e;
          padding: 0.2rem;
          background: #0d1117;
        }
      }

      .bio,
      .bio-contact,
      .follower-count {
        margin-left: 0 !important;
      }

      .follower-count {
        width: 200px !important;
        display: flex !important;
        flex-wrap: wrap !important;
      }
    }

    .right-side-repo {
      position: absolute !important;
      right: 0 !important;
      width: 720px !important;

      .search-repo {
        display: flex !important;
        flex-direction: row !important;
        align-items: baseline !important;
        gap: 0.8rem !important;

        input {
          width: 390px !important;
        }

        .search-filter {
          display: flex !important;
          flex-direction: row !important;
          align-items: baseline !important;
        }
      }
    }

    .right-side-list {
      width: 690px !important;
      position: absolute !important;
      right: 0 !important;
    }
  }

  @media (min-width: 768px) {
    .left-side-bio {
      width: 500px;
      position: relative;

      .profile-main {
        width: 400px;
        margin-left: 4rem;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;

        .profile-photo {
          img {
            width: 280px;
            height: 280px;
          }
        }

        .profile-username {
          margin-left: -22rem;
        }
      }

      .status {
        position: absolute;
        bottom: 240px;
        right: 142px;

        img {
          border-radius: 50%;
          border: 1px solid #8b949e;
          padding: 0.5rem;
          background: #0d1117;
        }
      }

      .bio,
      .bio-contact,
      .follower-count {
        margin-left: 6.5rem;
      }
    }

    .right-side-repo {
      position: absolute;
      right: 30px;
      top: 80px;

      .nav {
        background: transparent;

        .nav-items {
          width: 500px;
          display: flex;
          flex-direction: row;
          align-items: baseline;
          justify-content: flex-start;
          gap: 1rem;
        }

        #overview,
        #repo,
        #projects,
        #packages {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
        }
      }

      .search-repo {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 1.9rem;

        input {
          width: 598px;
        }

        .search-filter {
          display: flex;
          gap: 0.5rem;
        }
      }
    }

    .repos {
      border-bottom: none;
      padding-top: 4rem;
    }

    .right-side-list {
      width: 900px;
      position: absolute;
      top: -360px;
      right: 30px;
      border-bottom: 1px solid #30363d;
      padding: 2rem 0;

      .star-repo {
        top: 28px;
      }
    }
  }
}
